
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-checked:before { content: "\e708"; }

.if-success:before { content: "\e600"; }

.if-close:before { content: "\e601"; }

.if-arrow-down:before { content: "\e602"; }

.if-arrow-left:before { content: "\e603"; }

.if-arrow-right:before { content: "\e604"; }

.if-arrow-top:before { content: "\e605"; }

.if-stepperplus:before { content: "\e727"; }

.if-iconfontbangzhu:before { content: "\e7a3"; }

.if-housephoto:before { content: "\e893"; }

.if-safe:before { content: "\e606"; }

.if-fangcircle:before { content: "\e607"; }

.if-processexplain:before { content: "\e608"; }

.if-reservationfill:before { content: "\e8fa"; }

.if-failured:before { content: "\e609"; }

.if-waiting:before { content: "\e907"; }

.if-zhuansoildborder:before { content: "\e60a"; }

.if-emptystatusicon:before { content: "\e60b"; }

.if-failure:before { content: "\e95a"; }

.if-check:before { content: "\e9b6"; }

.if-moneybag_border:before { content: "\e60c"; }

.if-flow_password:before { content: "\e9f5"; }

.if-flow_card:before { content: "\e9f6"; }

.if-circle:before { content: "\e9f8"; }

.if-shanchu:before { content: "\ea2e"; }

.if-only_rightcheck:before { content: "\ea33"; }

